@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	color: #d1d2d3;
	font-family: "Lato";
	line-height: 1.15em;
}

body {
	background-color: #202;
	margin: 0;
	padding: 20px;
}

p {
	font-size: 20px;
}

button,
a.button-a,
select,
input {
	background-color: transparent;
	border: 1px solid #494c51;
	border-radius: 7px;
	font-weight: bold;
	font-size: 20px;
	padding: 8px;
	min-width: 125px;
	text-decoration: none;
	display: inline-block;
	margin: 4px;
	vertical-align: bottom;
}

select {
	width: 225px;
	font-weight: normal;
}

input {
	display: block;
	min-width: 300px;
	font-weight: normal;
}

#add-to-slack {
	padding: 0;
}

#add-to-slack img {
	vertical-align: bottom;
}

span.context {
	color: #8b8b8d;
	font-size: 16px;
	display: block;
}

option {
	min-width: 300px;
	background-color: #2a072a;
	padding: 8px;
}

label {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

#refreshToken {
	width: 500px;
}

#createAutomationError {
	display: block;
	color: #b1254d;
}

hr {
	border: 1px solid #35373b;
}