@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	color: #d1d2d3;
	font-family: "Lato";
	line-height: 1.15em;
}

body {
	background-color: #202;
	margin: 0;
	padding: 20px;
}

p {
	font-size: 1.15em;
}

button,
a.button-a {
	background-color: transparent;
	border: 1px solid #494c51;
	border-radius: 7px;
	font-weight: bold;
	font-size: 20px;
	padding: 8px;
	min-width: 125px;
	text-decoration: none;
	display: inline-block;
	margin: 4px;
	vertical-align: bottom;
}

#add-to-slack {
	padding: 0;
}

#add-to-slack img {
	vertical-align: bottom;
}

.context {
	color: #8b8b8d;
	font-size: 1em;
}